body {
    overflow-x: hidden;
}
.navbar {
   display: grid;   
   grid-template-columns: 1fr 2fr 1fr 70px ;
   opacity: 0.8;
   width: 100%;
   /* overflow-x: hidden; */
   position: absolute;
   background-color: black;
   padding: 0.25rem ;
}
.navbar-brand{
    font-size: 2.5rem;
    margin:  0 6rem;
    font-family: serif;
}
.navbar-brand:hover{
    color: white;
}
.navbar-brand, .nav-item a{
    color: white;
}
.navbar-two {
    display: flex;
}
.navbar-tree {
    display: flex;
}
.navbar-nav {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}
.nav-item {
    padding: 0.5rem 2rem;
}
.nav-link{
    font-weight: bold;
    font-size: 0.75rem;
    font-family: 'Open Sans',sans-serif;
}
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 1.25rem;
    justify-content: space-between;
    position: relative;
}
.menu-toggle input {
    position: absolute;
    width: 2.5rem;
    height: 1.75rem;
    left: -5px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}
.menu-toggle span {
    display: block;
    width: 1.75rem;
    height: 0.1875rem;
    background-color: white;
    border-radius: 0.1875rem;
    transition: all 0.5s;
}
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}
.menu-toggle input:checked ~ span:nth-child(2) {
    background-color: white;
    transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}
.menu-toggle input:checked ~ span:nth-child(4) {
    background-color: white;
    transform: rotate(-45deg) translate(-1px, 0);
}
/* firstView */
.slide1{
    background: url("../../assets/main-bg.jpg") no-repeat;
    height: 100vh;
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center; 
    background-repeat: no-repeat;
} 

.grid-item-container{
    color: white;
    margin-bottom: 7rem;
}
.grid-item-container h1{
    font-size: 7rem;
    margin: 0 0 1.875rem;
}
.grid-item-container p{
    font-size: 1.4rem;
    margin: 2.8125rem 0px 2.8125rem;
}
.grid-item-container button{
    background-color: #FFB343;
    border: none;
    padding: 0.625rem;
    width: 15vw;
    font-weight: bold;
    border-radius: 0.25rem;
}

/* secondView */
.slide2{
    background: url("../../assets/the-games-bg.jpg") no-repeat;
    height: 100vh;
    background-size: 100% 100% ;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-repeat: no-repeat;
} 
.slide-games-container{
    width: 80%;
    display: grid;
    grid-template-columns: 30% 70%;   
}
.slide-games-item{
    color: white;
    text-align: start;
}
.slide-games-carousel{
    display: flex;
}

/* thirdView */
.slide3{
    background: url("../../assets/features.jpg") no-repeat;
    height: 100vh;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
} 
.slide-features-container {
    display: grid;
    max-width: 28rem;
    max-height: 24rem;
    margin-left: 30rem;
}
.slide-features-container p{
    font-size: 1.125rem;
    color: white;
}
.button-features {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #424242;
    background-color: white;
}
.slide-features-container h1{
    color: white;
}
.slide-features-desc{
    display: grid;
    
}
.desc1 {
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: baseline;
}
.desc2 {
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: baseline;
}
.desc3 {
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: baseline;
}
.slide-traditional-games{
    font-size: 1.5rem;
    color: #FFB343;
    margin-left: 2rem;
}
/* fourthPage */
.slide4{
    background: url("../../assets/requirements.png") no-repeat;
    height: 100vh;
    background-size: 100% 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
} 
.slide-system-container {
    display: grid;
    width: 47%;
}
.slide-system-item {
    padding: 7rem 0 0 5rem;
    color: white;
}
.specifications{
    display: grid;
    margin-left: 5rem;
   
}
.specifications div{
    border: 0.0625rem solid white;
    padding: 1.25rem;
    border-collapse: collapse;
}
.specifications div h3{
    font-size: 1.5rem;
    color: #FFB343;
    font-weight: bold;
}
.specifications div p{
    font-size: 1.125rem;
    margin-bottom: 0;
    color: white;
}
.graphic{
    grid-column: 1/3;
    grid-row: 3/4;
}

/* fifthPage */
.slide5{
    background-color: black;
    height: 100vh;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
} 
.slide-score-container{
    width: 80%;
    display: grid;
    align-items: center; 
    grid-template-columns: 30% 70%;  
}
.slide-score-item{
    color: white;
}
.slide-score-item p{
    font-size: 1.31rem;
}
.slide-score-item button {
    background-color: #FFB343;
    border: none;
    padding: 0.9375rem;
    width: 17vw;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 2rem;
    border-radius: 0.3125rem;
}
.slide-score-chat {
    display: grid;
    width: 100%;
}
.review-card1{
    background-color: rgba(25,27,27,255);
    border-radius: 0.5rem;
    justify-self: end;
    padding: 0.5rem 1rem ;
    width: 65%;    
    margin: 1rem 0;
    justify-content: end;
}
.review-card2{
    background-color: rgba(25,27,27,255);
    border-radius: 0.5rem;
    justify-self: center;
    padding: 0.5rem 1rem ;
    width: 65%;    
    margin: 1rem 0;
    justify-content: end;
}
.review-card3{
    background-color: rgba(25,27,27,255);
    border-radius: 0.5rem;
    justify-self: end;
    padding: 0.5rem 1rem ;
    width: 65%;    
    margin: 1rem 0;
    justify-content: end;
}
.info-profile{
    margin-bottom: 1rem;
    display: flex;
}
.info-profile p{
    color: #FFB343;
    font-size: 1.125rem;
}
.profile-job{
    grid-row: 2/3;
    color: #525354!important;
 }
 .profile-name{
     grid-row: 1/2;
 }
.profile-item{
    margin: 0 .75rem;
}
.profile-desc{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-row: 1fr 1fr;
    width: 100%;
}
.profile-desc p{
    font-size: 1.3125rem;
    margin: 0;
}
.profile-twitter{
    grid-column: 2/3;
    grid-row: 1/3;
    text-align: right;
}
.profile-twitter img{
    width: 40%;
    top: 10%;
}
.comment{
    font-size: 1.125rem;
    color: white;
}
.date{
    font-size: 0.875rem;
    color: #525354;
}

/* sixthPage */
.slide6{
    background-color: black;
    height: 100vh;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
}
.slide-newsletter-container{
    width: 80%;
    display: grid;
    justify-content: center;
    align-items: center; 
    grid-template-columns: 50% 50%;
}
.slide-newsletter-item {
    color: white;
}
.slide-newsletter-input {
    display: grid;
    grid-template-columns: 60% 10% 30%;
    margin-top: 2rem;
}
.form-group {
    margin-bottom: 1rem;
    transition:all .3s;
}
.form-label {
    font-size: 1rem;
    color: #aaa;
    display: block;
    opacity: 1;
    transform: translateY(-1.25rem);
    transform-origin: 0 0;
    transition:all .3s;
    margin-top: -0.7rem;
    margin-left: 1rem;
}
.form-control {
    box-shadow: none;
    background-color: rgba(0, 0, 0, .02);
    border-radius: 0.5rem;
    border-color: #ccc;
    transition: all .5s;
    padding: 0.3125rem;
}
.form-control::placeholder{
    color: transparent;
}
.form-control:focus{
    box-shadow: none;
    outline: none;
    border-color: orange;
}
.form-control:focus + .form-label,
.form-control:not(:placeholder-shown) + 
.form-label
{
    transform: translateY(-2.5rem) scale(.8);
}
.form-group:focus-within{
    transform:scale(1.05,1.05);
}
.button-newsletter {
    background-color: #FFB343;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    padding: 0.35rem 0;
    height: 50%;
    border-radius: 0.2rem;
}

/* Footer */
.footer {
    padding: 0 4rem;
    background-color: black;  
}
.footer-top {
    grid-template-columns: 70% 30%;
    display: grid;
    border-bottom: 0.125rem solid #1c1e1f;
}
.footer-nav {
    display: flex;
    justify-self: end;
    color: white;
}
.footer-top-item {
    margin: 1.5rem 1rem;
}
.sosial-media {
    display: flex;   
    justify-self: end;
} 
.footer-top-item {
    color: white;
}
.footer-top-item p {
    font-size: 0.90rem;
    font-weight: bold;
}
.footer-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
}
.footer-info {
    display: flex;
    justify-self: end;
    color: white;
    align-self: baseline;
}
.info-item{
    padding: 0 0.75rem;
}
.info-item a{
    color: white;
    font-weight: bold;
}
.info-item p{
    font-size: 0.75rem;
    margin: 0;
}
.border-info{
    border-left:.15rem solid #FFF!important;
}
/*RESPONSIVE MOBILE*/
@media screen and (max-width:576px) {
    /* Nav Bar */
    .menu-toggle {
        display: flex;
    }
    .navbar-tree {
        display: none;
    }
    .navbar-two ul {
        position: absolute;
        right: 0;
        top: 0;
        width: 80%;
        height: 32vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: blue;
        z-index: 1;
        transform: translateX(100%);
        /* transition: all 1s; */
        /* opacity: 0; */
    }
    .navbar-two ul.slide {
        /* opacity: 1; */
        transform: translateX(0);

    }
    /* SLIDE 1 */
    .slide1{
        height: 32vh;
    }
    .grid-item-container{
        padding-top: 6rem;
    }
    .grid-item-container h1{
        font-size: 3.6rem;
        font-weight: bold;
    }
    .grid-item-container p {
        font-size: 1.125rem;
    }
    .grid-item-container button {
        width: 25vw;
    }
    /* SLIDE 2 */
    .slide2{
        height: 44vh;
    }
    .slide-games-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .slide-games-item {
        text-align: center;
    }
    .slide-games-item p{
        font-size: 1.25rem;
    }
    .slide-games-item h1{
        font-size: 4rem;
    }
    /* SLIDE 3 */
    .slide3{
        height: 50vh;
    }
    .slide-features-container {
       text-align: center;
       margin-left: 0rem;
    }
    /* SLIDE 4 */
    .slide4{
        height: 65vh;
    }
    .slide-system-container {
        display: grid;
        width: 100%;
        padding-top: 4rem;
    }
    .slide-system-item {
        text-align: center;
        padding: 0 0 0 0;
    }
    .specifications {
        margin-left: 0rem;
        justify-content: center;
    }
    /* SLIDE 5 */
    .slide5 {
        height: 85vh;
    }
    .slide-score-container {
        display: grid;
        grid-template-columns: 100%;
        text-align: center;
    }
    .slide-score-item button {
        margin-top: 1rem;
    }
    .slide-score-chat {
        display: block;
    }
    .review-card1 {
        width: 100%;
    }
    .review-card2 {
        width: 100%;
    }
    .review-card3 {
        width: 100%;
    }

    /* SLIDE 6 */
    .slide6 {
        height: 50vh;
    }
    .slide-newsletter-gambar {
        position: fixed;
    }
    .slide-newsletter-container {
        display: flex;
    }

    /* Footer */
    .footer {
        padding: 0rem 1rem;
    }
    .footer-top {
        display: grid;
        grid-template-columns: 1fr;
    }
    .sosial-media {
        display: flex;
        justify-self: center;
        margin-top: -2rem;
    }
}

/* RESPONSIVE TABLET */
@media screen and (min-width:577px) and (max-width:768px) {
    /* Nav Bar */
    .navbar-nav {
        width: 50%;
    }
    /* SLIDE 1 */
    .slide1 {
        height: 46vh;
    }
    .grid-item-container{
        top: 12vw;
        position: relative;
    }
    .grid-item-container h1 {
        font-size: 5rem;
    }
    .grid-item-container button {
        width: 25vw;
    }

    /* SLIDE 2 */
    .slide2{
        height: 70vh;
    }
    .slide-games-container {
        display: flow-root;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .slide-games-item {
        text-align: center;
        margin-bottom: 7rem;
    }
    .slide-games-item p{
        font-size: 1.25rem;
    }

    /* SLIDE 3 */
    .slide3 {
        height: 50vh;
    }
    .slide-features-container {
        text-align: center;
        margin-left: 0rem;
        max-width: 31rem;
     }

    /* SLIDE 4 */
    .slide4 {
        height: 72vh;
    }
    .slide-system-container {
        display: grid;
        width: 100%;
        padding-top: 6rem;
    }
    .slide-system-item {
        text-align: center;
        padding: 0 0 0 0;
    }
    .specifications {
        margin-left: 0rem;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem;
    }

    /* SLIDE 5 */
    .slide5 {
        height: 85vh;
    }
    .slide-score-container {
        display: grid;
        grid-template-columns: 100%;
        text-align: center;
    }
    .slide-score-chat {
        display: block;
    }
    .review-card1 {
        width: 100%;
    }
    .review-card2 {
        width: 100%;
    }
    .review-card3 {
        width: 100%;
    }

    /* SLIDE 6 */
    .slide6 {
        height: 50vh;
    }
    .slide-newsletter-gambar {
        position: fixed;
    }
    .slide-newsletter-container {
        display: flex;
    }

    /* Footer */
    .footer {
        padding: 0rem 1rem;
    }
    .footer-top {
        display: grid;
        grid-template-columns: 1fr;
    }
    .footer-nav {
        justify-self: center;
    }
    .sosial-media {
        display: flex;
        justify-self: center;
        margin-top: -2rem;
    }
    .footer-info {
        margin-left: 8rem;
    }
} 

p{
    font-family: 'Open Sans';
}
h1{
    font-size: 5rem;
    font-family: 'Bebas Neue', cursive;
}

